.loginForm {
  padding: 2rem;
  width: 16rem;

  div {
    display: flex;
    justify-content: flex-end;
    align-content: center;

    gap: 1rem;

    label {
      white-space: nowrap;
    }

    input {
      width: 8rem;
    }
  }

  div + div {
    margin-top: 1rem;
  }

  div + div:last-child {
    margin-top: 2rem;
  }
}